<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js">
</script>

<% for group in current_user.groups %>
  <% shared = @videos.map do |video|
      video.groups.where(id: group.id).count > 0
    end
    shareclass = shared.any? ? 'shared' : 'unshared' 
  %>
  <%# TODO: Rename share-button class, it trips up some ad-blockers %>
  <div id="group<%= group.id %>" class="share-button <%= shareclass %>">
    <i class="fa fa-square-o fa-2x share-icon"></i>
    <div class="share-spinner"></div>
    <i class="fa fa-check-square-o fa-2x share-icon"></i>
    <div class="share-text"><%= group.name %></div>
  </div>
<% end %>

<script>
  $(function() {
    FastClick.attach(document.body);
  });

  var groups = document.querySelectorAll(".share-button");
  var pending = { };
  var shared = { };

  var token = $('meta[name=csrf-token]').attr('content');;
  var http = new HTTP();
  http.globalHeader("X-CSRF-Token", token);

  var classyGroup = beClassy({
    shared: ['unshared', 'shared'],
    pending: 'pending'
  });

  for (var i = 0; i < groups.length; i++) {
    var group = groups[i];
    var id = group.id.substring(5);

    pending[id] = false;
    shared[id] = group.classList.contains('shared');

    group.addEventListener("click", (function(id) {
      return function(e) {
        if (pending[id]) {
          return;
        }
        shared[id] = !shared[id];
        pending[id] = true;

        var success = (function(id) { return function(xhr) {
          console.log(xhr, id);
          pending[id] = false;
          // TODO: Figure out a response format for multiple share
          //shared[id] = JSON.parse(xhr.response).indexOf(id) >= 0;
          refresh();
        }; })(id);

        var error = function(xhr) {
          console.log(xhr);
          <% if Rails.env.development? %>
          // In development environment flush the page with the error message.
          document.open();
          document.write(xhr.response);
          document.close();
          <% end %>
        };

        var params = {
          success: success,
          error: error,
        }

        if (shared[id]) {
          http.postJson("", { 'group': id }, params);
        } else {
          http.deleteJson("shares/" + id, params);
        }

        refresh();
      }
    })(id));
  }

  function refresh() {
    for (var i = 0; i < groups.length; i++) {
      var group = groups[i];
      var id = group.id.substring(5);

      classyGroup(group, {
        shared: shared[id],
        pending: pending[id],
      });
    }
  }

  refresh();

</script>

