<% content_for :homelink do %>
  <a href="#" onClick="closeActivity()" id="ach_so_link">
   <img src="../assets/ic_launcher.png" height="32" width="32" alt="Ach so!"/>
  </a>
<% end %>

<% content_for :pagetitle do %>
    <%= @video.title %>
<% end %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">

    <p>By: <%= @video.author.name %></p>

    <p>
    <% if policy(@video).share? %>
      <%= link_to(t(:share_video), shares_path(@video), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored") %>
    <% end %>

    <% if policy(@video).destroy? %>
      <%= link_to(t(:delete_video), video_path(@video), method: :delete, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent") %>
    <% end %>
    </p>
  </div>
</div>