
<h1><%= @video.title %></h1>
By: <%= @video.author.name %>

<% if policy(@video).share? %>
  <%= link_to(t(:share_video), shares_path(@video)) %>
<% end %>

<% if policy(@video).destroy? %>
  <%= link_to(t(:delete_video), video_path(@video), method: :delete) %>
<% end %>

