
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--12-col">
    <h1><%= t('.welcome_heading') %></h1>
  </div>

  <%= @cur_user.inspect %>
  <div class="mdl-cell mdl-cell--12-col">

    <h4><%= link_to(t('.app.android'), 'https://play.google.com/store/apps/details?id=fi.aalto.legroup.achso') %></h4>
    <h4><%= link_to(t('.app.ios'), 'https://itunes.apple.com/us/app/ach-so!/id1078968376') %></h4>

  </div>

</div>

