
.group-card.mdl-card {
    cursor: pointer;
    height: 96px;
    min-height: 128px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

header {
  z-index: 1 !important;
}

.mdl-cell {
  .create-group-btn {
    @media (max-width: 840px) {
      & {
        overflow: visible;
        z-index: 10;
        bottom: 45px;
        right: 45px;
        position: absolute;
      }
    }
  }
}
.admin-badge {
    background: rgb(255,82,82);
    color: white;
    padding: 0.2em;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.error-dump {
    white-space: pre-wrap;
}

.force-hidden-no-layout {
    display: none !important;
}

#achso_player.acp-inline {
    height: 90vh;
}

#achso_embed_player.acp-inline {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.acp-force-hidden-no-layout {
    display: none !important;
}


