body {
    font: 100% sans-serif;
}

.share-button {
    padding: 20px 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 40px;

    transition: all 0.2s;
}

.share-button.shared {
}

.share-button.pending {
    cursor: default;
}

.share-icon-container {
    width: 50px;
    height: 10px;
}

.share-icon {
    position: absolute;
    opacity: 0.0;
}
.shared > .share-icon.fa-check-square-o {
    opacity: 1.0;
}
.unshared > .share-icon.fa-square-o {
    opacity: 1.0;
}
.mixed > .share-icon.fa-square {
    opacity: 1.0;
}
.shared.pending > .share-icon.fa-check-square-o {
    opacity: 0.0;
}
.unshared.pending > .share-icon.fa-square-o {
    opacity: 0.0;
}
.mixed.pending > .share-icon.fa-square {
    opacity: 0.0;
}

.share-text {
    position: relative;
    left: 40px;
    top: 6px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}
 
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.pending > .share-spinner {
    width: 24px;
    height: 24px;
    position: absolute; 
    z-index: 1
}

.pending > .share-spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.pending > .share-spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 1.0);
    border-bottom-color: rgba(0, 0, 0, 0.0);
    animation: spinner 0.4s linear infinite;
    -webkit-animation: spinner 0.4s linear infinite;
}
