.video-link {
  width: 100%;
  height: 100%;
  display: block;
}

.video-heading {
  position: absolute;
  z-index: 10;
  padding: 1rem;
  width: 100%;
  height: 40%;
  color: #fff;
  font-size: 2rem;
  line-height: 105%;
}

.video-title {
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0, 0.6) 0%, rgba(0,0,0, 0.0) 100%);
}

.video-author {
  top: 50px;
  left: 0;
}

.video-view-container {
  position: relative;
  height: 400px;
  background-size: cover !important;
  background-position: center !important;
}

.share-link-wrapper {
  margin-bottom: 20px;
  input {
    margin-top: 5px;
  }
}